<small>
  <span class='quiet'>
    By <%= link_to user_name, user_path(user_name_slug) unless user_name == nil %>
    <%= display_datetime(created_at) unless created_at == nil %>
  </span>    
</small>